body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
    margin: 0;
}
.form-container {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    width: 40%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
span {
    display: flex;
    justify-content: center;
}
.form-container button:hover {
    background-color: darkviolet;
}
.form-container .note {
    font-size: 12px;
    color: gray;
}